---
layout: default
title: The Empty Universe
---

<h1>{{ page.title }}</h1>

<p>
  This is the blog for my personal project, currently titled "The Empty Universe".  I don't want
  to spoil too much of this one and the project is very new so more on this in the posts!
</p>

{% for post in site.posts %}
	{% if post.category == "EU" %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
<br></br>
