<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="http://s15.postimg.org/vizni2ys7/jie.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">Resume</a></li>
	        		<li><a href="/blog">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cjack@ou.edu">email</a></li>
	        		<li><a href="https://github.com/colejackson">github.com/colejackson</a></li>
				</ul>
			</footer>
		</body>
	</html>
